---
title: Akoya
overview: |
  Renowned for their incomparable luster and lovely rose, silver and cream tones, these specimens are what many consider the archetypical pearl. Assael’s Akoya Collection features refined, traditional designs key to any well-dressed woman’s jewelry wardrobe.
order: 3
layout: default
permalink: /collections/akoya/
class: collection
---
{% assign items = site.pieces | where:"category", "Akoya" | sort:"order" %}

<main>

<section class="headline">
  <div class="inner center intro">
    <p class="title">{{page.title}} Collection</p>
    <hr>
    <p>{{ page.overview|safe }}</p>
  </div>
</section>

<section class="collection">
    <div class="inner">
      {% for item in items %}
        <div class="product">
          <!-- <hr> -->
          {% if item.images[0] %}
          <a href="{{ item.url }}"><img src="/assets/img/{{ item.images[0] }}" alt=""></a>
          {% endif %}
          <div class="title-wrapper">
            <p class="title">{{ item.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

</section>

</main>