---
title: Brooches
overview_markdown: |
  Assael brooches feature classic and whimsical designs with stunning rare pearls as the centerpiece. Truly elegant and timeless, the perfect brooch makes a unique style statement.
order: 1
---
{% assign items = site.pieces | where_exp: "item", "item.tags contains 'brooches'" | sort:"order" %}

<main>

<section class="headline">
  <div class="inner center intro">
    <p class="title">{{page.title}}</p>
    <hr>
    <p>{{ page.overview_markdown|markdownify }}</p>
  </div>
</section>

<section class="collection">
    <div class="inner">
      {% for item in items %}
        <div class="product">
          <!-- <hr> -->
          {% if item.images[0] %}
          <a href="{{ item.url }}"><img src="/assets/img/{{ item.images[0] }}" alt="" {% if forloop.index > 4 %} class="lazy" {% endif %}></a>
          {% endif %}
          <div class="title-wrapper">
            <p class="title">{{ item.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

</section>

</main>