---
title: Essentials
overview_markdown: |
  Everyday jewels need not be ordinary! Assael Essentials are designed to become an element of signature style, rather than just being reserved for special occasions. Easily dressed up or down, Essentials is all about pearls for the 21st century.
order: 2
_hide_content: true
---
{% assign items = site.pieces | where:"category", "Essentials" | sort:"order" %}

<main>

<section class="headline">
  <div class="inner center intro">
    <p class="title">{{page.title}} Collection</p>
    <hr>
    <p>{{ page.overview_markdown|markdownify }}</p>
  </div>
</section>

<section class="collection">
    <div class="inner">
      {% for item in items %}
        <div class="product">
          {% if item.images[0] %}
            <a href="{{ item.url }}">
              <img src="/assets/img/trans.gif" data-src="{{ item.images[0] }}" alt="{{ item.title }}" class="lazyload">
            </a>
          {% endif %}
          <div class="title-wrapper">
            <p class="title">{{ item.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

</section>

</main>