---
title: Rehoe Concepts for Assael
overview_markdown: |
  Assael and Reho Concept were initially acquainted at the legendary Basel Jewelry Fair in Switzerland. Enchanted with the inventiveness and unique design aesthetic of Reho Concept’s line, Assael was inspired to collaborate with this highly regarded Italian firm.

  The collection features beautifully engineered, flexible chain elements set with pave diamonds and South Sea pearls. This concept allows for subtle movement of the gemstones, a playful effect that only enhances the loveliness of the design.
order: 3
---
{% assign items = site.pieces | where:"category", "Reho Concepts for Assael" | sort:"order" %}
<main>

<section class="headline">
  <div class="inner center intro">
    <p class="title">{{page.title}} Collection</p>
    <hr>
    <p>{{ page.overview_markdown|markdownify }}</p>
  </div>
</section>

<section class="collection">
    <div class="inner">
      {% for item in items %}
        <div class="product">
          {% if item.images[0] %}
            <a href="{{ item.url }}">
              {% picture collection {{ item.images[0] }} alt="{{ item.title }}" class="lazyload" %}
            </a>
          {% endif %}
          <div class="title-wrapper">
            <p class="title">{{ item.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

</section>

</main>