---
title: Spotlight on Assael
---
{% for post in site.posts %}
  <section class="headline">
    <div class="inner center intro">
      <p class="title">{{post.title}}</p>
      <hr>
    </div>
  </section>

  <section class="post">
    {% if post.featured_image %}
      <img class="featured-image {% if forloop.index > 4 %} lazy{% endif %}" src="/assets/img/{{ post.featured_image }}" alt="">
    {% endif %}
    {% if post.summary_markdown %}
      <p>{{ post.summary_markdown|markdownify }}</p>
    {% endif %}
  </section>
{% endfor %}
