<footer id="footer" role="contentinfo">
  <div class="inner-wrapper">
    <div class="footer-logo">
      <img src="/assets/img/logo.png" alt="Logo image">
    </div>
    <ul class="address">
      <li>589 Fifth Avenue, New York NY 10017</li>
    </ul>

    <div class="footer-secondary-links">
      <ul class="telephone">
        <li><a href="mailto:info@assael.com">info@assael.com</a></li>
        <li>212-819-0060</li>
        <li class="icon desktop"><a target="_blank" href="https://www.pinterest.com/{{site.pinterest_username}}/"><i class="fa fa-pinterest-square"></i></a></li>
        <li class="icon desktop"><a target="_blank" href="https://instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram"></i></a></li>
        <li class="icon mobile"><a target="_blank" href="https://www.pinterest.com/{{site.pinterest_username}}/"><i class="fa fa-pinterest-square"></i></a><a target="_blank" href="https://instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>