<header class="centered-navigation" role="banner">
  <div class="mobile-brand">
    <a href="/"><img src="/assets/img/logo.png" alt="Assael"></a>
  </div>
  <div class="centered-navigation-wrapper">
<!--     <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a> -->
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu">

          <li class="nav-link more"><a href="javascript:void(0)">collections</a>
            <ul class="submenu">
              {% for collection in site.data.navigation.collections %}
                {% if collection.submenu %}
                  <li class="more collection"><a href="javascript:void(0)">{{ collection.title }}</a>
                    <ul class="submenu">
                      {% for subcollection in collection.submenu  %}
                         <li class="collection"><a href="{{subcollection.url}}">{{ subcollection.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                   <li><a href="{{collection.url}}">{{ collection.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>


        <li class="nav-link more"><a href="javascript:void(0)">categories</a>
          <ul class="submenu">
            {% for category in site.data.navigation.categories %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="/assets/img/logo.png" alt="Assael">
          </a>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">About</a>
          <ul class="submenu">
            {% for category in site.data.navigation.about %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">Contact</a>
          <ul class="submenu">
            {% for category in site.data.navigation.contact %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</header>