{% if page.slides | size > 1 %}
  <script>
    (function() {
      $('.gallery').flickity({
        // options
        pageDots: true,
        prevNextButtons: false,
        // imagesLoaded: true,
        lazyLoad: true,
        wrapAround: true,
        autoPlay: false
      });
      setTimeout(function(){
        $('.gallery').flickity('resize');
      }, 275);
    })();
  </script>
{% else %}
<script>
  (function() {
    $('.gallery').flickity({
      // options
      pageDots: false,
      prevNextButtons: false,
      imagesLoaded: true,
      lazyLoad: true,
      wrapAround: true
    });
    setTimeout(function(){
      $('.gallery').flickity('resize');
    }, 275);
  })();
</script>
{% endif %}