// visual grid
$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// base
@import
  "node_modules/normalize.scss/normalize",
  // "node_modules/normalize-opentype.css/normalize-opentype.scss",
  "bourbon",
  "base/base", // includes grid-settings, which must be imported before neat
  "neat",
  "base/layouts";

// modules
@import
  "modules/visual-grid",
  "modules/flickity",
  "modules/articles",
  "modules/footer",
  "modules/header",
  "modules/contact",
  "modules/home",
  "modules/legacy",
  "modules/retailers",
  "modules/spotlight",
  "modules/collection",
  "modules/product",
  "modules/instructions",
  "modules/utilities-accessibility",
  "modules/utilities-iframes",
  "modules/utilities";

  body {
    font-family: "Lato";
  }

  body:before {
    display: none;
  }

  body.grid:before {
    display: block;
  }

  #body-inner {
    display: none;
  }

  body p {
    font-family: 'Merriweather', serif;
    color: $dark-gray;
    font-weight: 300;
  }

  .wf-loading {
    visibility: hidden;
  }

  .wf-active, .wf-inactive {
    visibility: visible;
  }

  // flickity

  /* big buttons, no circle */
  .flickity-prev-next-button {
    width: em(100);
    height: 100%;
    background: transparent;
  }
  .flickity-prev-next-button:focus {
    .arrow {
      fill: $dark-gray;
    }
  }
  .flickity-prev-next-button:hover {
    background: transparent;
    .arrow {
      @include transition(all .3s ease);
      fill: $dark-gray;
    }
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    @include transition(all .3s ease);
    fill: $light-gray;
  }
  .flickity-prev-next-button.no-svg {
    color: $light-gray;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  /* fade in lazy loaded image */
  .gallery-cell-image {
    opacity: 0;
    @include transition(opacity .4s);
  }
  .gallery-cell-image.flickity-lazyloaded,
  .gallery-cell-image.flickity-lazyerror {
    opacity: 1;
  }

  .paginate ul {
    margin-bottom: 1.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    li {
      display: inline;
      margin-left: 1rem;
      a {
        color: $text;
      }
      &.active a {
        border-bottom: 1px solid $medium-gray;
      }
    }
  }

