.home {
  @include breakpoint($l-up){
    height: 100vh;
    @include sticky-footer(40px);
  }
  main {
    margin-bottom: 0;
    // @include breakpoint($s-up) {
    //   @include container();
    //   @include pad();
    // }
  }
  section.showcase {
    @include breakpoint($s-up){
      margin-top: 2vh;
    }
    // @include breakpoint($ipad-h-up){
    //   margin-top: 2vh;
    // }
  }
  section.headline {
    margin-top: 3rem;
    // margin-bottom: 2rem;
    .intro {
      text-align: center;
      p {
        @include breakpoint($s-up) {
          font-size: .8rem;
        }
        @include breakpoint($ipad-up) {
          @include span-columns(10 of 12);
          @include shift(1);
          font-size: 1rem;
        }
        color: $medium-gray;
        text-align: center;
        font-style: italic;
        margin-bottom: 1rem;
      }
    }
  }
}

.home {
  #body-inner {
    @include breakpoint($l-up){
      height: 100vh;
    }
  }
  main {

  }
  section.hero {
    // background-color: yellow;
  }
}