body.instructions {

 p {
  font-family: "Lato";
 }
 ul li {
  font-family: "Lato";
 }
 h1 {
  font-family: "Lato";
 }
 section.text {
  @include media($m-up){
    margin-top: 2rem;
    @include span-columns(10);
    @include shift(1);
  }
 }
}